.heading {
  color: green;
}

.card_grid {
  display: grid;
  max-width: 800px;
  margin: auto;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 10px;
}

.card {
  background-color: var(--bg-light);
  border: 1px var(--border-soft) solid;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0 1px var(--border-soft);
}

.category_pill {
  font-size: var(--card-title);
  border: 1px solid var(--accent-lavender);
  background-color: var(--accent-lavender-light);
  width: fit-content;
  border-radius: 30px;
  padding: 0 10px;
}

.card_item {
  /* background-color: green; */
}

.card_text {
  font-size: var(--body);
  color: var(--text-secondary);
}

.card_subheading {
  font-weight: bold;
  font-size: var(--card-title);
}

.lets_go {
  background-color: var(--button-dark);
  color: white;
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 9px 0px white;
  border: none;
  letter-spacing: 0.05em;
  text-align: center;
}

@media (min-width: 767px) {
  .card_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .card {
    border: 2px var(--border-soft) solid;
  }
}
