.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: scroll;
}

.selected_option {
  font-family: "Inter", sans-serif;
  color: var(--text-secondary);
  font-size: var(--card-title);
  width: fit-content;
  line-height: 1;
}

.logo {
  width: 40px;
  height: 40px;
  background: var(--bg-main);
  border-radius: 50%;
  padding: 5px;
  color: #b693ff; /* lavender */
  stroke-width: 1.75;
}
/* .logo path {
  stroke: #b693ff;
  stroke-width: "1.75";
  stroke-linecap: "round";
  stroke-linejoin: "round";
  fill: "none";
} */

/* background: linear-gradient(135deg, #b693ff, #e9a5b5);
border-radius: 999px;
padding: 12px;
color: white; */

.top_content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}
.interest_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
}

.filter_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 10px;
  /* border-right: 1px solid var(--border-soft); */
}
.filter_item:last-child {
  border: none;
}

.filter_item_text {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.selection_heading {
  font-family: var(--secondary-font-family);
  color: var(--text-primary);
  font-size: var(--body);
}

.section {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
  padding: 10px;
  border: 1px solid var(--border-soft);
  border-radius: 10px;
  box-shadow: 0px 0px 3px 1px var(--border-soft);
  gap: 5px;
  margin: 3px;
}

.section_heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.selected_interest {
  color: var(--text-secondary);
  background: var(--accent-pink-light);
  border: 1px solid var(--accent-pink);
  border-radius: 7px;
  font-size: var(--body);
  padding: 2px 9px;
}

.personality_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selected_personality {
  color: var(--text-secondary);
  background: var(--accent-pink-light);
  border: 1px solid var(--accent-pink);
  border-radius: 7px;
  padding: 2px 9px;
  font-size: var(--body);
  width: fit-content;
}

.submit_section {
  background: linear-gradient(var(--accent-lavender-light), #eee6ff);
  padding: 20px;
  color: var(--text-secondary);
  border-radius: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lets_go {
  background-color: var(--button-dark);
  color: white;
  width: 100%;
  max-width: 400px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: inset 0px 0px 9px 0px white;
  border: none;
  letter-spacing: 0.05em;
}

@media (min-width: 767px) {
  .container {
    gap: 30px;
  }
  .top_content {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .section {
    padding: 20px;
    box-shadow: 0px 0px 6px 1px var(--border-soft);
    gap: 15px;
  }
  .filter_item {
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--border-soft);
    padding: unset;
  }

  .filter_item_text {
    align-items: center;
    gap: 10px;
  }
  .selected_interest {
    border-radius: 10px;
    padding: 5px 15px;
  }
  .personality_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  .selected_personality {
    border-radius: 10px;
    padding: 5px 15px;
    width: 100%;
  }
}
